/* go on then, styles go here.. knock yourself out! */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300);
@import url(http://weloveiconfonts.com/api/?family=entypo);
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html{
  height:100%;
}
img{
  max-width:100%;
}
body{
    background: #5BCAFF;
  background: linear-gradient(top, #55EFCB 0%, #5BCAFF 100%);
  background: -moz-linear-gradient(top, #55efcb 0%, #5bcaff 100%);
  background-size:cover;
  height:100%;
  font-size:10px;
  line-height:1;
}
.profile-card {
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  width: 300px;
  color:#fff;
  font-family: 'Open Sans', sans-serif;
  font-weight:100;
  font-size:1.8em;
  padding-top: 110px;
  padding-bottom: 100px;
  text-align: center;
}
.profile-card h1 {
  font-size: 2em;
}
.profile-card h2 {
  font-style: italic;
}
.profile-card:before {
  content: '';
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-left: 2px solid #fff;
  border-top: 2px solid #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.profile-card:after {
  content: '';
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(45deg);
  z-index: -1;
}
.profile-card header > a {
  position: absolute;  
  top: -20px;
  left: 0;
  width: 100px;
  height: 100px;
  overflow: hidden;
  left: 50%;
  margin-left: -49px;
  transform: rotate(45deg);
}
.profile-card header > a img {
  transform: rotate(-45deg);
  position: absolute;
  top: -20%;
  max-width: inherit;
  left: -20%;
  width: 140%;
  height: 140%;
}
.profile-social-links {
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -25px;
}
.profile-social-links li {
  position: absolute;
  bottom: 0;
  width: 50px;
  height: 50px;
  background:rgba(255,255,255,1);
  transform: rotate(-45deg);
  transition:500ms ease all;
  box-sizing: border-box;
}
.profile-bio {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
}
.profile-social-links li:nth-child(2) {
  left: -37px;
  margin-bottom: 37px;
}
.profile-social-links li:nth-child(3) {
  left: 37px;
  margin-bottom: 37px;
}
.profile-social-links li:hover{
  background:rgba(255,255,255,0);  
  transition: 250ms ease all;
}
.profile-social-links li:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0px;
  width: 0px;
  border-left: 2px solid white;
  border-top: 2px solid white;
  transition: 250ms ease width 500ms, 250ms ease height 750ms;
  box-sizing: border-box;
}
.profile-social-links li:hover:before {
  height: 100%;
  width: 100%;
  transition: 250ms ease height , 250ms ease width 250ms;
}
.profile-social-links li:after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  height: 0px;
  width: 0px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  transition: 0ms ease opacity 500ms,250ms ease width , 250ms ease height 250ms;
  box-sizing: border-box;
  opacity:0;
}
.profile-social-links li:hover:after {
  height: 100%;
  width: 100%;
  opacity:1;
  transition: 0ms ease opacity 500ms,250ms ease height 500ms , 250ms ease width 750ms;
  
}
.profile-social-links li a {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 80%;
  left: 10%;
  top: 10%;
  height: 80%;
  text-decoration: none;
  color: rgb(89, 214, 236);
  text-align: center;
  line-height: 40px;
  font-size: 1.5em;
   transition: 500ms ease all; 
  z-index: 2;
}

.profile-social-links li:hover a {
  color:#fff;
}
.profile-bio {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 500ms ease-out all;
  line-height: 1.5;
}
.profile-card:hover .profile-bio {
  max-height: 300px;
  opacity: 1;
  margin-top: 1em;
}